/* 202021 - черный
3F3F40 - темно-серый
404043 - серый
FFFFFF - белый
E89B2B - оранжевый

*/

* {
    box-sizing: border-box;
}

html {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    --mainColor: #ffff;
    --accentColor: #E89B2B;
}

.header {
    width: 100%;
    margin: 0 auto;
    
}

.navigation2 {
    display: flex;
    max-width: 1000px;
    width: 100%;
    color: var(--mainColor);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto; 
    
}

.navigation {
    background-color: rgba(18, 17, 17, 0.82);
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--mainColor);
}

.navigation-name {
    width: calc(100% / 2);
    font-weight: 500;
    font-size: 26px;
}

p span {
    color: var(--mainColor);
    font-weight: 200;
    font-size: 22px;
}

.discount-text2 span {
    color: var(--accentColor);
    font-size: 12px;
    font-weight: 400;
    padding-left: 5%;
}

.navigation-item {
    width: calc(100% / 6);
    font-size: 16px;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 5px;
}

.discount-photophone {
    background-image: url("images/background.png");
    background-position: top;
    background-size: cover;
   
}

.hero-section {
    
    display: flex;
    
}

.circle {
    margin-top: 27%;
    margin-left: 5%;
 
    
}

.circle-img {
    width: 18px;
    height: 85px;
}

.overlay {
 
    background-color: rgba(0, 0, 0, 0.637);
    height: 100%;
    width: calc(100% / 2.8);
    margin-left: 13.5%;
}

.discount-section {
    display: flex;
  
    flex-direction: column;
}

.discount {
    margin-top: 10%;
}

.discount-name1{
    width: 100%; 
    font-size: 60px;
    font-weight: 400;
    color: var(--mainColor); 
    padding-left: 5%;
    margin-top: 8%;
 }

 .discount-text1 {
    width: 70%; 
    font-size: 18px;
    font-weight: 200;
    color: var(--mainColor);
    margin-top: 3%;
    padding-left: 5%;
}

.buttons {
    display: flex;
    padding-left: 5%;
    margin-top: 3%;
}

.button1, .button2 {
    margin-top: 1%;
    margin-bottom: 10%;
    padding: 5px 10px 3px 10px;
    color: var(--mainColor);
    border: 1px solid #fafafa67;
    font-size: 14px;
    font-weight: 300;
}

.button2 {
    color: var(--accentColor);
}

.discount-name2 {
    margin-top: 2%;
    color: var(--mainColor);
    font-size: 20px;
    font-weight: 400;
    padding-left: 5%;
}

.discount-text2 {
    width: 70%; 
    font-size: 18px;
    font-weight: 200;
    color: var(--mainColor);
    margin-top: 3%;
    padding-left: 5%;
    margin-bottom: 15%;
}

.border {
    border-bottom: 5px var(--accentColor) solid;
   width: 100%;
}


.directions-content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.directions-section {
    background-color: #202021;
}

.directions-title {
    font-size: 52px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.199);
    padding-left: 20%;
    padding-top: 10%;
}

.directions-title2 {
    color: #ffff;
    font-size: 26px;
    padding-left: 16%;
    top: 103%;
    position: absolute;
        
}

.directions {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.directions-item1, .directions-item2, .directions-item3, .directions-item4, .directions-item5, .directions-item6 {
    width: calc(100% / 12 * 3);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3%;
    
   
}

.directions-item1 {

    background: linear-gradient(to top, #2020219d 20%, transparent 20%), url(images/Rectangle6.png);
    background-size: cover;
}

.directions-item2 {
  
    background: linear-gradient(to top, #2020219d 20%, transparent 20%), url(images/Rectangle-7.png);
    background-size: cover;
}

.directions-item3 {
  
    background: linear-gradient(to top, #2020219d 20%, transparent 20%), url(images/Rectangle8.png);
    background-size: cover;
}

.directions-item4 {
   
    background: linear-gradient(to top, #2020219d 20%, transparent 20%), url(images/Rectangle46.png);
    background-size: cover;
}

.directions-item5 {
  
    background: linear-gradient(to top, #2020219d 20%, transparent 20%), url(images/Rectangle10.png);
    background-size: cover;
}

.directions-item6 {
    
    background: linear-gradient(to top, #2020219d 20%, transparent 20%), url(images/Rectangle11.png);
    background-size: cover;
}

.direction-name {
  
    
    font-size: 26px;
    font-weight: 500;
 
    margin-top: 80%;
    color: #ffff;
    width: calc(100% / 2);
    padding-left: 3%;
    padding-top: 2%;
	background-color: #202021;
    text-align: center;
    margin-bottom: -1px;
     
}

.directions-buttons {
    display: flex;
    padding-bottom: 5%;
  
}

.direction-button1 {
    padding-top: 3%;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--mainColor);
    background-color: var(--accentColor);
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

.direction-button2 {
    padding-top: 2%;
    margin-left: 15%;
    margin-top: 5%;
    font-size: 20px;
    font-weight: 400;
    color: var(--mainColor);
    border: 1px solid #ffff;
    padding-left: 3%;
    padding-right: 3%;
}

.direction-border {
    border-bottom: 5px #202021 solid;
    width: 100%;
  
}

.ourStudios-title {
    font-size: 52px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.199);
    padding-left: 20%;
    padding-top: 10%;
  
    padding-bottom: 5%;
  
}

.ourStudios-title2 {
    color: #ffff;
    font-size: 26px;
    padding-left: 16%;
    top: 245%;
    position: absolute;
   
}

.ourStudios-section {
    background-image: url("images/background2.png");
    background-position: top;
    background-size: cover;
   
}

.ourStudios-content {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.ourStudios-item {
    background-color: rgba(0, 0, 0, 0.637);
    width: calc(100% / 12 * 3.3);
    margin: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.item-place {
    color: var(--mainColor);
    font-size: 22px;
    
}

.item-schedule {
    color: var(--accentColor);
    font-size: 20px;
    font-weight: 400;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 1.2;
}

.item-schedule2 {
    padding-bottom: 12%;
}

.icon-telephone, .icon-location {
    width: 18px;
}

.item-telephone {
    display: flex;
    padding-top: 15%;
}

.telephone {
    color: var(--mainColor);
    font-weight: 300;
    font-size: 20px;
    padding-left: 2%;
    padding-top: 0.6%;
}

.item-address {
    color: var(--mainColor);
    font-size: 18px;
    font-weight: 400;
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}

.address {
    padding-left: 2%;
    padding-top: 3%;
}

.subscriptions-section {
    background-color: #202021;
}

.subscriptions-title {
    font-size: 52px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.199);
    padding-left: 20%;
    padding-top: 10%;
  
    padding-bottom: 5%;
  
}

.subscriptions-title2 {
    color: var(--mainColor);
    font-size: 26px;
    padding-left: 21%;
    top: 346%;
    position: absolute;
   
}

.banner-content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    
}

.banner {
    background-image: url(images/Rectangle50.png);
    background-position: top;
    background-size: cover;
    padding-bottom: 1%;
}  

.banner-title {
    color: var(--mainColor);
    font-size: 42px;
    padding-left: 9.5%;
    padding-top: 2%;
}

.banner-button {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5%;
    margin-left: 9.5%;
    margin-top: 5%;
  
    font-size: 20px;
    font-weight: 400;
    color: var(--mainColor);
    background-color: var(--accentColor);
    width: calc(100% / 12 * 1.5);
    
}

.subscriptions-border {
    border-bottom: 5px var(--accentColor) solid;
    width: 100%;
    
}

.rates {
    padding-top: 5%;
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.items-rate {
    
    width: calc(100% / 12 * 6);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-right: 2%;
}

.item1-rate {
    background-image: url(images/Rectangle45.png);
}

.item2-rate {
    background-image: url(images/Rectangle51.png);
}

.item3-rate {
    background-image: url(images/Rectangle53.png);
}

.content-rate {
    background-color: rgba(0, 0, 0, 0.637);
    border: 1px solid var(--accentColor);
}

.name-tariff {
    color: var(--mainColor);
    font-size: 26px;
    font-weight: 400;
    padding-top: 5%;
    
    display: inline-block;
    border-bottom: 1px solid var(--accentColor);
}

.name-rate {
    text-align: center;
}

