* {
    box-sizing: border-box;
}

html {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    --mainColor: #ffff;
    --accentColor: #E89B2B;
}

.header {
    width: 100%;
    margin: 0 auto;
}

.navigation2 {
    display: flex;
    max-width: 1000px;
    width: 100%;
    color: var(--mainColor);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto; 
}

.navigation {
    background-color: rgba(18, 17, 17, 0.82);
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--mainColor);
}

.navigation-name {
    width: calc(100% / 2);
    font-weight: 500;
    font-size: 26px;
}

p span {
    color: var(--mainColor);
    font-weight: 200;
    font-size: 22px;
}

.discount-text2 span {
    color: var(--accentColor);
    font-size: 12px;
    font-weight: 400;
    padding-left: 5%;
}

.navigation-item {
    width: calc(100% / 6);
    font-size: 16px;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 5px;
}

.discount-photophone {
    background-image: url("images/background.png");
    background-position: top;
    background-size: cover;
}

.hero-section {
    display: flex;
}

.circle {
    margin-top: 27%;
    margin-left: 5%;
}

.circle-img {
    width: 18px;
    height: 85px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.637);
    height: 100%;
    width: calc(100% / 2.8);
    margin-left: 13.5%;
}

.discount-section {
    display: flex;
    flex-direction: column;
}

.discount {
    margin-top: 10%;
}

.discount-name1{
    width: 100%; 
    font-size: 60px;
    font-weight: 400;
    color: var(--mainColor); 
    padding-left: 5%;
    margin-top: 8%;
 }

 .discount-text1 {
    width: 70%; 
    font-size: 18px;
    font-weight: 200;
    color: var(--mainColor);
    margin-top: 3%;
    padding-left: 5%;
}

.buttons {
    display: flex;
    padding-left: 5%;
    margin-top: 3%;
}

.button1, .button2 {
    margin-top: 1%;
    margin-bottom: 10%;
    padding: 5px 10px 3px 10px;
    color: var(--mainColor);
    border: 1px solid #fafafa67;
    font-size: 14px;
    font-weight: 300;
}

.button2 {
    color: var(--accentColor);
}

.discount-name2 {
    margin-top: 2%;
    color: var(--mainColor);
    font-size: 20px;
    font-weight: 400;
    padding-left: 5%;
}

.discount-text2 {
    width: 70%; 
    font-size: 18px;
    font-weight: 200;
    color: var(--mainColor);
    margin-top: 3%;
    padding-left: 5%;
    margin-bottom: 15%;
}

.border {
    border-bottom: 5px var(--accentColor) solid;
    width: 100%;
}

.content {
    background-color: #202021;
    
}

.content-main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.title {
    position: relative;
    padding-bottom: 5%;
}

.title1 {
    font-size: 52px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.199);
    padding-left: 20%;
    padding-top: 10%;
}

.title2 {
    color: var(--mainColor);
    font-size: 26px;
    padding-left: 280px;
    top: 160px;
    position: absolute;
}

.main-section {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.backgroung1 {
    background-image: url(images/Rectangle9-2.png);
}

.backgroung2 {
    background-image: url(images/Rectangle7-2.png);
}

.backgroung3 {
    background-image: url(images/Rectangle11-2.png);
}

.backgroung4 {
    background-image: url(images/Rectangle8-2.png);
}

.backgroung5 {
    background-image: url(images/Rectangle10-2.png);
}

.backgroung6 {
    background-image: url(images/Rectangle6-2.png);
}

.general {
    background-position: top;
    background-size: cover;


}



.main-item {
    width: calc(100% / 12 * 4 - 2%);
    margin-left: 2%;

}

.name {
    margin-top: 5%;
    
    padding-left: 3%;
    color: var(--mainColor);
    font-size: 22px;
    font-weight: 500;
    width: calc(100% / 3);
    background-color: #E89B2B;
}

.timetable {
    background-color: rgba(0, 0, 0, 0.25);
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
   
    
}

.timetable-border {
    border: 1px solid var(--accentColor);
    margin-top: 3%;

}

.timetable-item {
    color: var(--mainColor);
    text-align: center;
    font-size: 30px;
    margin-bottom: 10%;
    margin-top: 10%;
}