* {
    box-sizing: border-box;
}

html {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    --mainColor: #ffff;
    --accentColor: #E89B2B;
}

.header {
    width: 100%;
    margin: 0 auto;
}

.navigation2 {
    display: flex;
    max-width: 1000px;
    width: 100%;
    color: var(--mainColor);
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    margin: 0 auto; 
}

.navigation {
    background-color: rgba(18, 17, 17, 0.82);
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--mainColor);
}

.navigation-name {
    width: calc(100% / 2);
    font-weight: 500;
    font-size: 26px;
}

p span {
    color: var(--mainColor);
    font-weight: 200;
    font-size: 22px;
}

.discount-text2 span {
    color: var(--accentColor);
    font-size: 12px;
    font-weight: 400;
    padding-left: 5%;
}

.navigation-item {
    width: calc(100% / 6);
    font-size: 16px;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 5px;
}

.discount-photophone {
    background-image: url("images/background.png");
    background-position: top;
    background-size: cover;
}

.hero-section {
    display: flex;
}

.circle {
    margin-top: 27%;
    margin-left: 5%;
}

.circle-img {
    width: 18px;
    height: 85px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.637);
    height: 100%;
    width: calc(100% / 2.8);
    margin-left: calc(100% / 6);
    margin-top: 0;
}

.discount-section {
    display: flex;
    flex-direction: column;
}

.discount {
    margin-top: 10%;
}

.discount-name1{
    width: 100%; 
    font-size: 60px;
    font-weight: 400;
    color: var(--mainColor); 
    padding-left: 5%;
    margin-top: 8%;
 }

 .discount-text1 {
    width: 70%; 
    font-size: 18px;
    font-weight: 200;
    color: var(--mainColor);
    margin-top: 3%;
    padding-left: 5%;
}

.buttons {
    display: flex;
    padding-left: 5%;
    margin-top: 3%;
}

.button1, .button2 {
    margin-top: 1%;
    margin-bottom: 10%;
    padding: 5px 10px 3px 10px;
    color: var(--mainColor);
    border: 1px solid #fafafa67;
    font-size: 14px;
    font-weight: 300;
}

.button2 {
    color: var(--accentColor);
}

.discount-name2 {
    margin-top: 2%;
    color: var(--mainColor);
    font-size: 20px;
    font-weight: 400;
    padding-left: 5%;
}

.discount-text2 {
    width: 70%; 
    font-size: 18px;
    font-weight: 200;
    color: var(--mainColor);
    margin-top: 3%;
    padding-left: 5%;
    margin-bottom: 15%;
}

.border {
    border-bottom: 5px var(--accentColor) solid;
    width: 100%;
}

.content {
    background-color: #202021;
}

.content-main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.title {
    position: relative;
    padding-bottom: 5%;
}

.title1 {
    font-size: 52px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.199);
    padding-left: 18%;
    padding-top: 10%;
}

.title2 {
    color: var(--mainColor);
    font-size: 26px;
    padding-left: 200px;
    top: 130px;
    position: absolute;
}

.main-section {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.backgroung1 {
    background: linear-gradient(to top, #20202170 100%, transparent 100%), url(images/Rectangle9-2.png);
    height: 150px;
    padding-top: 39%;
}

.backgroung2 {
    background: linear-gradient(to top, #20202170 100%, transparent 100%), url(images/Rectangle7-2.png);
    height: 150px;
    padding-top: 39%;
}

.backgroung3 {
    background: linear-gradient(to top, #20202170 100%, transparent 100%), url(images/Rectangle11-2.png);
    height: 150px;
    padding-top: 39%;
}

.backgroung4 {
    background: linear-gradient(to top, #20202170 100%, transparent 100%), url(images/Rectangle8-2.png);
    height: 150px;
    padding-top: 39%;
}

.backgroung5 {
    background: linear-gradient(to top, #20202170 100%, transparent 100%), url(images/Rectangle10-2.png);
    height: 150px;
    padding-top: 39%;
}

.backgroung6 {
    background: linear-gradient(to top, #20202170 100%, transparent 100%), url(images/Rectangle6-2.png);
    height: 150px;
    padding-top: 39%;
}

.general {
    background-position: top;
    background-size: cover;
}

.main-item {
    width: calc(100% / 12 * 4 - 2%);
    margin-left: 2%;
    margin-bottom: 5%;
}

.name {
    padding-left: 3%;
    color: var(--mainColor);
    font-size: 24px;
    font-weight: 500;
    width: calc(100% / 2.5);
    text-align: center;
    background-color: #202021;
    padding-top: 2%;
}

.timetable {
    background-color: rgba(0, 0, 0, 0.25);
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.timetable-border {
    border: 1px solid var(--accentColor);
    margin-top: 3%;
}

.timetable-item {
    color: var(--mainColor);
    text-align: center;
    font-size: 30px;
    margin-bottom: 10%;
    margin-top: 10%;
}

.main-buttons {
    display: flex;
    justify-content: space-around;
    color: var(--mainColor);
    font-size: 20px;
    font-weight: 500;
    margin-top: 2%;
}

.main-button1 {
    background-color: var(--accentColor);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 0%;
}

.main-button2 {
    border: 1px solid var(--mainColor);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.border-timetable {
    border-bottom: 5px solid rgba(255, 255, 255, 0.199);
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 7%;
}

.seeAll {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: end;
    padding-top: 1%;
    padding-bottom: 10%;
}

.seeAll-name {
    color: rgba(255, 255, 255, 0.199);
    font-size: 26px;
    font-weight: 500;
    margin-right: 1%;
}

.seeAll-icon {
    width: 60px;
}

.footer-section {
    background-image: url(images/background2.png);
    background-position: top;
    background-size: cover;
}

.footer-overlay {
    background-color: rgba(0, 0, 0, 0.637);
    width: 100%;
}

.footer-content {
    color: var(--mainColor);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    padding-top: 5%;
}

.social-media-name {
    font-size: 22px;
    font-weight: 300;
    color: var(--mainColor);
    padding-right: 1%;
}

.footer-icon {
    width: 27px;
    height: 17px;
    padding-right: 1%;
}

.contacts-name-color, .contact-name {
    color: var(--mainColor);
    font-size: 22px;
    font-weight: 200;
}

.contact-name, .phone-name {
    padding-bottom: 7%;
}

.contacts-name  {
    font-size: 28px;
    padding-bottom: 3%;
}

.contacts-item {
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 2%;
}

.contacts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7%;
    padding-top: 3%;
}

.contacts1 {
    width: calc(100% / 12 *6);
}

.contacts2 {
    display: flex;
    justify-content: space-evenly;
    width: calc(100% / 12 * 6);
    padding-right: 2%;
}

.contacts-phone {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}

.phone-name {
    font-size: 22px;
    margin-top: 2%;
    visibility: hidden;
}

.item-contact-address {
    font-size: 18px;
    padding-top: 5%;
   
}

 @media (max-width: 1024px) {
    .overlay {
        margin-left: calc(100% / 10);
    }

    .navigation {
        padding-left: 2%;
    }

    .title2 {
        padding-left: 190px;
        top: 130px;
    }

    .contacts1 {
        padding-left: 2%;
    }
 }

 @media (max-width: 768px) {
    .navigation2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        flex-grow: 1;
    }

    .discount-photophone {
        background-position: 70%;
    }

    .discount-name1 {
        font-size: 42px;
    }

    .discount-text1 {
        font-size: 16px;
    }

    .buttons {
        font-size: 18px;
    }

    .discount-text2 {
        font-size: 16px;
    }

    .title2 {
        padding-left: 160px;
        top: 100px;
    }

    .main-item {
        width: calc(100% / 12 * 5);
    }

    .contacts1 {
        padding-left: 2%;
    }
 }

 @media (max-width: 600px) {
    .navigation-name {
        width: 100%;
        margin-left: 25%;
    }

    p.navigation-name {
        width: 100%;
    }

    .navigation-item {
        width: calc(100% / 3);
        padding-top: 5%;
        padding-left: 2%;
    }

    .circle {
        margin-top: 20%;
    }

    .overlay {
        width: 100%;
        margin-left: 0;
    }

    .discount-text2 span {
        padding-left: 0;
    }

    .title2 {
        padding-left: 100px;
        top: 70px;
    }

    .main-item {
        width: 70%;
    }

    .contacts {
        font-size: 20px;
        flex-wrap: wrap;
    }

    .social-media {
        padding-bottom: 5%;
    }

    .social-media-name {
        font-size: 16px;
    }

    .contacts-name {
        font-size: 24px;
    }

    .contacts-item {
        font-size: 20px;
    }

    .contacts1 {
        width: 90%;
        margin: 0 auto;
        padding-left: 2%;
    }

    .contacts2 {
       width: 90%;
       justify-content: space-between;
       padding-top: 5%;
       margin: 0 auto;
    }

    .contacts-phone {
        padding-right: 2%;
    }

    .footer-icon {
        width: 20px;
    }
}